# Ignore all pickle models by default
*.pkl

# BUT allow win probability model to be tracked
!winmodel.pkl

# Other stuff:
__pycache__/
*.pyc
.ipynb_checkpoints/
static/videos/
*.mp4
.DS_Store
Thumbs.db
